<div class="container">
    <h1>{{category.title}}</h1>
        <article class="user-card">  
            <ul>
                {{#each category.posts}}
                
                <h3>{{title}}</h3>
                <p>{{content}}</p>
                
                {{/each}}
            </ul>
        </article>
</div>