<h1>Categories</h1>
<a href="/"><h2>Go back to main page</h2></a>

{{#each category}}

<div> 
    <a href="/category/{{id}}"><h3>{{title}}</h3></a>
</div>
{{/each}}

<a href="/"><h2>Go back to main page</h2></a>