<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/style.css">
        <title>SoundVibez</title>
    </head>
    <body>
        
    <main class="main">
        <h1>Welcome to SoundVibez</h1>
        <p> Hello Music fans! SoundVibez is Musical Blog where Music fans like us can connect, vibe, and share some tunes. We promote positivity, so please keep it that way. </p>
        <table  class = "main__Table">
            <thead>
                <th>Artist</th>
                <th>Song Name</th>
                <th>Tags</th>
            </thead>
            <tr>
                <td><a href="" >Jay - Z</a></td>
                <td>99 Problems/td>
                <td>#99Probz #Hov #BlakcAlbum</td>
            </tr>
            <tr>
                <td><a href="" >Khalid</a></td>
                <td>Bad Luck</td>
                <td>#Bitter #New #VibeFav</td>
            </tr>
        </table>
    </main>
    </body>
    </html>
