<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<body>{{body}}</body>

<div class="flex-row">
  <div class="card"> 
      <h3>Become an Author</h3>
      <p>to post a review you must be an author, but don't worry its a simple step</p>
      <a href="/author/">Be come an author</a>
  </div>
  <div class="card">
      <h3>Categories</h3>
      <p>Come Check out some of the categories we have</p>
      <a href="/category/">Categories</a>
  </div>
 <div class="card">
      <h3>Tags</h3>
      <p>View posts by Tags</p>
      <a href="/tags/">Tags</a>
  </div>

   <div class="card">
      <h3>Posts</h3>
      <p>View all posts</p>
      <a href="/post/">Posts</a>
  </div>
  
</div>