<form action="/author/" method="POST">

        <label>
            Become an Author:
            <input name="author"></input>
        </label> 
        <button>Start posting</button>
</form>

<a href="/"><h2>Go back to main page</h2></a>