<h1>Blog Posts</h1>

{{#each post}}
    <h3>{{title}}</h3>
    <p>{{content}}</p>
{{/each}}

<form action="/post", method="POST">
        <label>
            Artist: 
            <input name="title"></input>
        </label>
        <label>
            Content 
            <input  name="content"></input>
        </label>
        <label>Category: 
        <select name="category">
            {{#each category}}
                <option value="{{id}}">{{title}}</option>
            {{/each}}            
            </select>
        </label>


        {{!-- <textarea name= "content" placeholder="Write something.." style="height:500px"></textarea> --}}
        <button> Submit Post!</button>
</form> 
