<h1>{{title}}</h1>

<form action="/post", method="POST">
        <label>
            Artist: 
            <input type="text" name="title"></input>
        </label>
        <label>
            Content 
            <input type="text" name="content"></input>
        </label>


        {{!-- <textarea name= "content" placeholder="Write something.." style="height:500px"></textarea> --}}
        <button> Submit Post!</button>
</form> 
