<h1>Blog Posts</h1>
<a href="/"><h2>Go back to main page</h2></a>
{{#each post}}
    <h3>{{title}}</h3>
    <p>{{content}}</p>
{{/each}}

<a href="/post/new"> submit new post</a>
<a href="/"><h2>Go back to main page</h2></a>

