<a href="/"><h2>Go back to main page</h2></a>
  <form action="/tags/" method="POST">

        <label>
            #HASHTAG
            <input name="tag"></input>
        </label> 
        <button>SubmitYaTag</button>
</form>
  
  
  
  {{#each tag}}
        <a href="/tags/{{id}}">
         <h3>{{name}}</h3>
         </a>
         
    {{/each}}

<a href="/"><h2>Go back to main page</h2></a>



