*{
  box-sizing: border-box;
  margin: auto;
  border: .25rem;
  padding: 1rem;
}
body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: auto;
}

a {
  color: #00B7FF;
}
html{
  font: 20px;
}
.main{
  align-self: center;
}
.main__Header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
} 
.main__Table{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.submit__title{
  display:flex;
  justify-content: center;
}