*{
  box-sizing: border-box;
  margin: auto;
  border: .25rem;
  padding: 1rem;
}
body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: auto;
}

a {
  color: #00B7FF;
}
html{
  font: 20px;
}
.main{
  align-self: center;
}
.main__Header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
} 
.main__Table{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.submit__title{
  display:flex;
  justify-content: center;
}

.flex-row {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  flex-flow: row wrap;
 overflow: hidden;
}
.flex-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.card {
  background-color: purple;
  display: inline-block;
  max-width: 300px;
  min-width: 150px;
  min-height: 200px;
  content: "";
  margin: 1rem 1rem 0 0;
  box-shadow: 0 1px 3px 0 rgba(58, 62, 75, 0.25);
  flex: 0 0 25%;
  align-items: flex-start;
  align-content: flex-start;
  border-radius: .2rem;
 
}